div{
    background-image: url('../assets/welcomeweb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    z-index: -1;
}
button{
    margin: 50px;
    width: 150px;
    color: white;
    background-color: rgb(243, 43, 143);
}
